<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3>Operações com matrizes</h3>
    <ul>
        <li><a href="/operation/add">Adição</a></li>
        <li><a href="/operation/sub">Subtração</a></li>
        <li><a href="/operation/mul">Multiplicação</a></li>
        <li><a href="/operation/div">Divisão</a></li>
        <li><a href="/operation/inv">Inversão</a></li>
    </ul>
</body>
</html>